.classe1{
    width: 500px;
    height: 500px;
    border: 10px;
    border: 10px groove black;
}

.classe1{
    background-color: orange;
    color: red;
}

.classe3{
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}

